<% layout("layouts/boilerplate1")%>

    <div class="py-5 px-3 text-center mt-5" style="color:white">
        <h1>YelpCamp</h1>
        <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
            Feel free to share some of your own and comment on others!</p>
        <a href="/campgrounds" class="btn btn-lg btn-outline-secondary">View
            Campgrounds</a>

    </div>